@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --color0: #B3B2B3;
    --color1: #C78C19;
    --color2: #088C19;

    --fonte-padrao: 'Montserrat', sans-serif;
}

*{
    font-family: var(--fonte-padrao);
}

header{
    background-color: var(--color0);
    padding: 20px 0px;
    font-family: var(--fonte-padrao);
}

nav{
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li{
    display: inline;
    padding-right: 15px;
}

.titulo_central{
    position: relative;
    width: 980px;
    margin: 0 auto;
}

nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 2em;
    padding: 20px;
    text-transform: uppercase;
}

nav a:hover{
    color: var(--color1);
    text-decoration: underline;
}

nav a:active{
    color: var(--color2);
}

.produtos li {
    display: inline-block;
    text-align: center;
    border: 3px solid black;
    border-radius: 10px;
    width: 30%;
    vertical-align: top;
    padding: 30px 10px;
    margin: 0 1.5%;
    box-sizing: border-box;
}

.produtos{
    width: 940px;
    margin: 50px auto;
}

.produtos li:hover{
    border-color: var(--color1);
}

.produtos li:active{
    border-color: #088C19;
}

.produtos li:hover h2{
    font-size: 2.1em;
}

.produtos li:hover .preco-produto{
    font-size: 1.7em;
}

.produtos h2{
    font-size: 2em;
    font-weight: bold;
}

.descricao-produto{
    font-size: 1.3em;
}

.preco-produto{
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 15px;
}

main{
    width: 940px;
    margin: 0px auto;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.input-padrao{
    display: block;
    margin-bottom: 20px;
    padding: 10px 25px;
    font-size: 1em;
    width: 50%;
}

.input-textarea{
    margin-bottom: 15px;
}

.checkbox{
    margin: 20px 0px;
}

.obrigatorio{
    color: red;
}

.enviar{
    width: 40%;
    padding: 15px 0px;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
}

.enviar:hover{
    transition: 1s;
    cursor: pointer;
    background-color: darkorange;
    transform: scale(1.1);
}

table{
    margin: 20px 0 40px;
}

thead{
    background-color: #555555;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
}

footer{
    text-align: center;
    background: url("../imagens/bg.jpg");
    padding: 40px 0;
    margin-top: 300px;
}

.copyright{
    color: white;
    font-size: 0.8em;
    margin-top: 20px;
}
